body{
  background-color: #66ccff;
  color: gold;
}

h1{
  font-size: 51px;
  font-family: monospace, Arial, Times;
  text-align: center;
}

ol{
  width: 50%;
}

li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.red-font{
  color: red;
}


p{
  color: red;
}

#first-p{
  color: purple;
  font-weight: bold;
  letter-spacing: -2px;
}

#second-p{
  color: green;
}
